# .clangd
# With the help of the bot this .clangd is working for this trivial As/As.ino
#  https://chatgpt.com/share/690d791a-46b4-800c-bbf1-f790bd95caae
CompileFlags:
  Compiler: ./shared/data/packages/esp32/tools/xtensa-esp32s3-elf-gcc/esp-2021r2-patch5-8.4.0/bin/xtensa-esp32s3-elf-g++
  QueryDriver: ./shared/data/packages/esp32/tools/xtensa-esp32s3-elf-gcc/esp-2021r2-patch5-8.4.0/bin/xtensa-esp32s3-elf-*
  Add:
    - "-xc++"
    # GCC builtins
    - -isystem
    - ./shared/data/packages/esp32/tools/xtensa-esp32s3-elf-gcc/esp-2021r2-patch5-8.4.0/lib/gcc/xtensa-esp32s3-elf/8.4.0/include
    # GCC include-fixed (wrapper limits.h lives here)
    - -isystem
    - ./shared/data/packages/esp32/tools/xtensa-esp32s3-elf-gcc/esp-2021r2-patch5-8.4.0/lib/gcc/xtensa-esp32s3-elf/8.4.0/include-fixed
    # newlib headers (both – some toolchains use sys-include)
    - -isystem
    - ./shared/data/packages/esp32/tools/xtensa-esp32s3-elf-gcc/esp-2021r2-patch5-8.4.0/xtensa-esp32s3-elf/sys-include
    - -isystem
    - ./shared/data/packages/esp32/tools/xtensa-esp32s3-elf-gcc/esp-2021r2-patch5-8.4.0/xtensa-esp32s3-elf/include

  Remove:
    - "-c"
    - "-mlongcalls"
    - "-fstrict-volatile-bitfields"
    - "-fno-tree-switch-conversion"
    - "-nostdinc"
    - "-nostdinc++"
Diagnostics:
  UnusedIncludes: None
